manifest {
    mainScript = 'main.nf'
    name = 'pop_the_mod'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()    
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    help = false
    memory = '12'
    profile = false

    // inputs
    fasta_ref = ''
    bam = ''

    //output
    output = "results"
    runinfodir = "Pipeline-runinfo"

}
// runinfo
timeline {
  enabled = true
  overwrite = true  
  file = "${params.output}/${params.runinfodir}/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true  
  file = "${params.output}/${params.runinfodir}/execution_report.html"
}


profiles {
    local {
        workDir = "work/nextflow-popthemod-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }

        process { errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' } }
    }

    docker {
        docker { 
            enabled = true
            fixOwnership = true
        }
        includeConfig 'configs/container.config'
    }

}

