process {
    withLabel: microbemod   { container = 'multifractal/microbemod:v1.0.5' }
    withLabel: minimap2     { container = 'nanozoo/minimap2:2.26--d9ef6b6' }
    withLabel: modkit       { container = 'multifractal/modkit:v0.5.0' }   
    withLabel: nanomotif    { container = 'multifractal/nano_motif:v0.3.0'}
    withLabel: plasflow     { container = 'nanozoo/plasflow:1.1.0--c85355d' }
    withLabel: bedtools     { container = 'nanozoo/bedtools:2.30.0--5c9dee6'} 
    withLabel: seqkit       { container = 'nanozoo/seqkit:2.3.1--401ce9e'}
    withLabel: ubuntu       { container = 'nanozoo/template:3.8--21e23c9' }
    withLabel: ggcoverage   { container = 'nanozoo/ggcoverage:3.3.1--1eca7b2'}
    withLabel: R            { container = 'rocker/tidyverse:4.3.1' }

}
