
process {             
    withLabel: baloonplot       { cpus = 2 ; memory = '6 GB' }
    withLabel: bedtools         { cpus = 2 ; memory = '6 GB' }
    withLabel: bracken          { cpus = 24; memory = '48 GB' }
    withLabel: bowtie2          { cpus = 16 ; memory = '32 GB' }
    withLabel: ggplot2          { cpus = 16 ; memory = '32 GB' }    
    //withLabel: kraken2          { cpus = 24 ; memory = '64 GB' } managed in the process
    withLabel: krakentools      { cpus = 2 ; memory = '4 GB' }
    withLabel: krona            { cpus = 2 ; memory = '6 GB' }
    withLabel: recentrifuge     { cpus = 12 ; memory = '24 GB' }
    withLabel: seqkit           { cpus = 4 ; memory = '12 GB' }
    withLabel: ubuntu           { cpus = 2 ; memory = '6 GB' }
} 


