
process {             
    withLabel: baloonplot       { cpus = 2 ; memory = '6 GB' }
    withLabel: bedtools         { cpus = 2 ; memory = '6 GB' }
    withLabel: ggplot2          { cpus = 16 ; memory = '32 GB' }    
    withLabel: seqkit           { cpus = 4 ; memory = '12 GB' }
    withLabel: ubuntu           { cpus = 2 ; memory = '6 GB' }
} 


